*{font-family: 'noto sans kr'}

.container{width: 90%;margin:20px auto}

.header{
    background: #FFCC22;
    border: 20px;
    padding: 40px 0;
    border-radius: 20px;
    box-sizing: border-box;
}

.header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 87%;
    margin: 0 auto;
}

.title{
    display: inline-block;
    font-size: 3.5vw;
    color: white;
    font-weight: bold;
}

.search{
    display: inline-block;
    float: right;
    text-align: right;
}

#txt-search{
    width: 50%;
    background-color: white;
    text-indent: 10px;
    font-size: 2vw;
    margin-right: 4px;
}

.btn-search{
    font-size: 1.6vw;
}

#txt-search,.btn-search{
    border: none;
    border-radius: 14px;
    vertical-align: middle;
    box-sizing: border-box;
    outline: none;
    padding: 4px 10px;
    height: 48px;
}

.total{
    margin: 20px 20px 30px;
    color: #444;
    font-weight: 600;
    font-size: 1.4vw;
}

.total span{
    color:#ffcc44;
    font-size:1.85vw
}


#item-template{
    display: none;
}

.item{
    padding: 10px 20px;
    border-radius: 20px;
    background: #eee;
    margin-bottom: 10px;
}

.item:last-child{
    margin-bottom: 0;
}

.item-no{
    display: inline-block;
    padding:0 10px;
    font-size: 2vw;
    color: #111;
    vertical-align: middle;
    font-weight: 600;
}

.item-detail{
    display: inline-block;
    margin-left: 12px;
    vertical-align: middle;
}

.item-name{
    font-size: 2vw;
}

.item-addr{
    font-size: 1.4vw;
    color: #555;
    margin-top: 4px;
}