@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'S-CoreDream-5Medium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html, body, #tripAdviser {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-family: 'S-CoreDream-3Light'; }

body {
  background-color: black; }

#bg {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 0.7;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: linear; }

/*  header  */
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: white;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 30px;
  box-sizing: border-box; }
  #header .menu-items.left {
    float: left; }
  #header .menu-items.right {
    float: right; }
    #header .menu-items.right a {
      margin: 0 5px; }

/* //header */
.form_box.md_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 80px 40px;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center; }
  .form_box.md_box .title {
    margin: 0 80px;
    font-size: 26px;
    font-weight: bolder;
    margin-bottom: 8px; }
  .form_box.md_box .subTitle {
    display: inline-block;
    font-size: 14px;
    color: #dbdbdb;
    margin-bottom: 60px; }
  .form_box.md_box #form_login > ul > li {
    margin-bottom: 10px;
    text-align: left; }
  .form_box.md_box #form_login .inputLine {
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 1px solid #111;
    outline: none;
    margin-bottom: 6px;
    padding-bottom: 4px; }
    .form_box.md_box #form_login .inputLine::placeholder {
      color: #000; }
  .form_box.md_box #form_login .txt_warning {
    display: none;
    text-align: left;
    font-size: 0.8em;
    color: crimson;
    margin-bottom: 10px; }
  .form_box.md_box #form_login .btnBox {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-radius: 10px;
    flex-wrap: wrap; }
    .form_box.md_box #form_login .btnBox a {
      width: calc(50% - 4px);
      border-radius: 10px;
      padding: 10px 0; }
    .form_box.md_box #form_login .btnBox #btn_login {
      background-color: #34495e;
      color: white; }
    .form_box.md_box #form_login .btnBox #btn_signin {
      background-color: #dbdbdb; }
  @media screen and (max-width: 900px) {
    .form_box.md_box {
      width: 90%;
      height: calc(100% - 90px);
      padding: 50px 40px;
      top: 70px;
      transform: translateX(-50%);
      overflow: scroll; }
      .form_box.md_box .title {
        margin: 0 auto;
        margin-bottom: 8px; }
      .form_box.md_box #form_login .btnBox a {
        width: 100%;
        margin-bottom: 8px; } }

/*# sourceMappingURL=login.css.map */
