@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'S-CoreDream-5Medium';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html, body, #tripAdviser {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-family: 'S-CoreDream-3Light'; }

body {
  background-color: black; }

.arrow {
  position: fixed;
  width: 100%;
  height: calc(100% - 50px);
  top: 50px;
  left: 0; }

#downArrow span {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%) rotate(-45deg) skew(10deg, 10deg);
  display: block;
  width: 20px;
  height: 20px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  animation-name: moveDown;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

#bg {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 0.7;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: linear; }

/*  header  */
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: white;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 30px;
  box-sizing: border-box; }
  #header .menu-items.left {
    float: left; }
  #header .menu-items.right {
    float: right; }
    #header .menu-items.right a {
      margin: 0 5px; }

/* //header */
/*  greeting  */
#greeting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: white;
  transition: top 0.5s ease-out; }
  #greeting h1 {
    font-size: 3vw;
    margin-bottom: 20px; }
  #greeting p {
    font-size: 1.3vw; }
  #greeting.active {
    top: 30%; }

/* //greeting */
/*  searchPanel */
#search-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 150%;
  transform: translateX(-50%);
  transition: top 0.5s ease-out;
  width: 90%;
  max-width: 1000px;
  background-color: white;
  padding: 100px;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-align: center; }
  #search-panel.active {
    top: 50%; }
  #search-panel #form-search .panel-block {
    display: inline-block; }
    #search-panel #form-search .panel-block label {
      margin-bottom: 10px;
      display: block; }
    #search-panel #form-search .panel-block.date {
      width: 205px; }
      #search-panel #form-search .panel-block.date input {
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 1px solid #111;
        cursor: pointer; }
    #search-panel #form-search .panel-block.search {
      vertical-align: bottom;
      background: #34495e;
      margin-left: 40px;
      border-radius: 10px;
      color: white;
      font-family: 'S-CoreDream-5Medium'; }
      #search-panel #form-search .panel-block.search img {
        vertical-align: middle; }
    #search-panel #form-search .panel-block input, #search-panel #form-search .panel-block.search {
      padding: 10px 16px; }

/* //searchPanel */
/* calendar */
#ui-datepicker-div {
  width: 205px;
  box-sizing: border-box; }

/*# sourceMappingURL=style.css.map */
