*{
    margin:0; padding:0;
    font-family: inherit;
    font-size:inherit;
    color: inherit;
    letter-spacing: inherit;
    text-align: inherit;
    text-decoration: none;
    font-style: normal;
}

li{list-style:none}

body,html{
    width: 100%; height: 100%;
}

.pos_center{
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
}

#main{
    width: 100%; height: 100%;
    position: relative;
}

#main>.pos_center{width: 100%;}

.clock,form.name{
    text-align: center;
}